NEXIS_EMPLOYEE_CODE=
NEXIS_PASSWORD=
NEXIS_URL=
NEXIS_FACILITY=
NEXIS_BASE_FOLDER=
NEXIS_USER_DATA_DIR=
NEXIS_BROWSER_CHANNEL=
SLACK_ENABLED=
SLACK_BOT_TOKEN=
SLACK_ALL_UPDATES_CHANNEL=
SLACK_BREACH_UPDATES_CHANNEL=
SLACK_ALL_UPDATES_WEBHOOK=
SLACK_BREACH_UPDATES_WEBHOOK=
NEXIS_WRITE_JSON=

SLACK_BREACH_UPDATES_INTERVAL_HOURS=10
